<!--
The template defines the view of the component - what is actually rendered.
In NativeScript applications the template is defined with XML using NativeScript UI elements.
It is different from HTML. So instead of <input>, <span>, <div> etc. - we have <TextField>, <Label> and layouts.
The important thing is that although the elements are different - all of the Angular’s template syntax works exactly the same.
So you can still use template expressions, bindings, templates as well as all the built-in directives.
-->

<!--
The ActionBar is the NativeScript common abstraction over the Android ActionBar and iOS NavigationBar.
http://docs.nativescript.org/ui/action-bar
-->
<ActionBar title="Open in FullScreen">
</ActionBar>

<!--
The GridLayout arranges its child elements in a table structure of rows and columns.
A cell can contain multiple child elements, they can span over multiple rows and columns,
and even overlap each other. The GridLayout has one column and one row by default.
You can learn more about NativeScript layouts at https://docs.nativescript.org/ui/layout-containers.

These components make use of the NativeScript core theme, which styles them with element selectors.
The theme also provides a set of helper class names such as p-20, h1, h2, and text-center to enhance styling.
You can learn more about the NativeScript core theme at https://github.com/nativescript/theme
-->

<!-- Image Zoom
    https://market.nativescript.org/plugins/nativescript-image-zoom
-->
<StackLayout backgroundColor="lightgray">
    <!-- <ui:ImageZoom src="https://i.picsum.photos/id/168/1920/1280.jpg" maxZoom="5" minZoom="2"/> -->
     <Image #imgref src="https://i.picsum.photos/id/168/1920/1280.jpg" (tap) ="modalImage($event)"></Image>

     <!-- <Button text="Tap me!" (tap) ="test()"></Button> -->
</StackLayout>


  <!-- Image with stretch property ("none", "aspectFill" and "aspectFit") -->
  <!-- <Image src="https://i.picsum.photos/id/168/1920/1280.jpg" stretch="aspectFit"></Image> -->
<!-- Image Swipe
    https://market.nativescript.org/plugins/nativescript-image-swipe
-->
<!-- <StackLayout>
    <Label text="https://market.nativescript.org/plugins/nativescript-image-swipe" ></Label>
<ImageSwipe [items]="items" imageUrlProperty="imageUrl" 
[pageNumber]="pageNumber" (pageChanged)="pageChanged($event)" backgroundColor="#000000">
</ImageSwipe>
</StackLayout> -->

